#----------------------------
# Server Configuration File
#---------------------------
#

database:
{
ip = "localhost";
db = "MCQ";
user = "testUser";
password = "testPassword";
};

images:
{
ip = "10.0.1.49";
};

scan:
{
startCorner:
{
right = false;
bottom = false;
//TODO plus logique de mettre left et top à true
}
};